const char* ssid     = ".......";
const char* password = ".......";
const char* host = "covid-19-data.p.rapidapi.com";
const char* apikey = "......."; // register account at rapidapi.com

const char* root_ca = " -----BEGIN CERTIFICATE----- \n" \
"MIIFaDCCBFCgAwIBAgIQBLYtXy2f2AfuJd0z/fqXFjANBgkqhkiG9w0BAQsFADBG\n" \
"MQswCQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMRUwEwYDVQQLEwxTZXJ2ZXIg\n" \
"Q0EgMUIxDzANBgNVBAMTBkFtYXpvbjAeFw0xOTEwMDEwMDAwMDBaFw0yMDExMDEx\n" \
"MjAwMDBaMBsxGTAXBgNVBAMMECoucC5yYXBpZGFwaS5jb20wggEiMA0GCSqGSIb3\n" \
"DQEBAQUAA4IBDwAwggEKAoIBAQC24Q+poNsmGdkq+s2G/fvE+RoFbSRDeDVP8NBw\n" \
"5cQAfyNiQRvZqT3xuu0is+dIQLEIF9zj45cViL8qMV/+SR6zuI8Ub/4oNzaQ3q4z\n" \
"EXQnnwXOOBXZJ+b1LWe10CypfEz8r0jyNPkys1tz3CtU0uX3bsHKSl1MkvnqeZWV\n" \
"uvDbfScAi0OzlzIkeFr+vAtdH8xQcPXQA1XW45e7MutMEw8Wcz3PhHofoRmpneDN\n" \
"nCYvF6yphblsXP6DB9bfx+Wa7OGMUF7uMLGIwt7DHl/I/fOO8rEFhDZB1dxXDHJj\n" \
"/02WPe96qsHIwV/Ktm5TXz8XSMjAD8XC+/Cz3IDYrs4CJ3K1AgMBAAGjggJ7MIIC\n" \
"dzAfBgNVHSMEGDAWgBRZpGYGUqB7lZI8o5QHJ5Z0W/k90DAdBgNVHQ4EFgQUpuk3\n" \
"rgyo9l6sUmEk5RlMSkOqLDUwGwYDVR0RBBQwEoIQKi5wLnJhcGlkYXBpLmNvbTAO\n" \
"BgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMDsG\n" \
"A1UdHwQ0MDIwMKAuoCyGKmh0dHA6Ly9jcmwuc2NhMWIuYW1hem9udHJ1c3QuY29t\n" \
"L3NjYTFiLmNybDAgBgNVHSAEGTAXMAsGCWCGSAGG/WwBAjAIBgZngQwBAgEwdQYI\n" \
"KwYBBQUHAQEEaTBnMC0GCCsGAQUFBzABhiFodHRwOi8vb2NzcC5zY2ExYi5hbWF6\n" \
"b250cnVzdC5jb20wNgYIKwYBBQUHMAKGKmh0dHA6Ly9jcnQuc2NhMWIuYW1hem9u\n" \
"dHJ1c3QuY29tL3NjYTFiLmNydDAMBgNVHRMBAf8EAjAAMIIBAwYKKwYBBAHWeQIE\n" \
"AgSB9ASB8QDvAHUA7ku9t3XOYLrhQmkfq+GeZqMPfl+wctiDAMR7iXqo/csAAAFt\n" \
"iMFVwgAABAMARjBEAiAv2C7OvR16Z2DeUTAogmNoBgW6tc0hq20fUd7JiyMCTQIg\n" \
"Br2daZtjsHQsDuJPkP5eMCAvPR2P6NBzEiFeAjDV7YsAdgCHdb/nWXz4jEOZX73z\n" \
"bv9WjUdWNv9KtWDBtOr/XqCDDwAAAW2IwVYtAAAEAwBHMEUCIB23GA8EkzSjOlxP\n" \
"CNvFMexwJUHJ/+TdJnrC5REIAV26AiEAjdKvtmQqvOaEc62O/QzE1bdIoR7YlrVC\n" \
"vSfnlQNaHQEwDQYJKoZIhvcNAQELBQADggEBAHrGxDdr7MrJtLxveRmw/Wz5CNZm\n" \
"a6E2346j/KrPRwmrvaTOtkGlGMmHYuBEOuPzjFoxEnES3O1M8ZFdekRTkAEXqcjw\n" \
"xDMddpEQL6nIPgvam2CEE93ziA9drgUleY4qsgRLkCplQQHEQfU4F2Ak4LlvGCRT\n" \
"2CWPi0iasMbBskuVotJ9mxyMnp+mZZlDJEG0x2wPRii6FeVahgv9JJ14KERsmpGB\n" \
"/U7iceOXim6i8UBqa/XpIeR6qcI6oxhGNpHLMcQCoAf9V4Anw9Mi6NfbSTuSSKp3\n" \
"6wunZAaCaue+z78Pe4fEpt5gmgFBVVYT8liuzYwwCax8mg+/XSaPUQ3ZHos=" \
"-----END CERTIFICATE-----\n";
